header {
    background: linear-gradient(90deg, #db3747 0%, #d62d61 25%, #81005e 50%, #5c457e 75%, #1c537f 100%);

}
.btn-morado {
    background-color: #81015e;
}
.text-morado {
    color: #81015e;
}